# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code local settings
.vscode/

# Dataset
data/raw/
data/processed/

# Model checkpoints
checkpoints/
*.pth
*.pt
*.ckpt

# Generated outputs
outputs/

# Kaggle
kaggle.json

# OS
.DS_Store
Thumbs.db